/* Hero Section Styles */
.hero-section {
  background-image: url('../assets/home/Background.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 252, 252);
  padding: 20px;
  box-sizing: border-box;
}

.hero-text {
  text-align: center;
  font-size: 2rem;
  font-family: 'Original Surfer', serif;
  color: rgba(13, 13, 13, 0.711);
  margin-bottom: 20px;
}

.join-button {
  background-color: rgba(165, 247, 147, 0.8);
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: 'Libre Baskerville', serif;
  border: none;
  border-radius: 5rem;
  cursor: pointer;
}

.join-button a {
  text-decoration: none;
  color: white;
}

/* Responsive styles for Hero Section */
@media (max-width: 768px) {
  .hero-text {
    font-size: 1.5rem;
  }

  .join-button {
    font-size: 1rem;
    padding: 0.8rem 1.5rem;
  }
}

@media (max-width: 480px) {
  .hero-text {
    font-size: 1.2rem;
  }

  .join-button {
    font-size: 0.9rem;
    padding: 0.7rem 1.2rem;
  }
}

/* Container Styles */
.container1 {
  display: flex;
  flex-direction: row;
  height: 100vh;
  align-items: center;
  justify-content: center;
 
}

.left-side, .right-side {
  flex: 1;
  padding: 20px;
}

.responsive-image {
  max-width: 100%;
  height: auto;
}

/* Responsive styles for Container */
@media (max-width: 768px) {
  .container1 {
    flex-direction: column;
  }
}

/* Side-by-Side Section Styles (Image and Responsive) */

.side-by-side {
  /* Background for desktop and larger screens */
  background-image: url('../assets/home/Background.jpg');
  background-size: cover;
  background-position: center;
  /* Improved min-height for better image display */
  min-height: calc(100vh - 40px);  /* Adjust padding value if needed */

  /* Flexbox layout for both image and responsive views */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgb(14, 13, 13);
  box-sizing: border-box;
  margin: 2px 10px;
}

/* Responsive Styles (Override for smaller screens) */
@media (max-width: 768px) {
  .side-by-side {
    flex-direction: column;
  }

  .side-section {

    height: auto;
    margin-right: 0;
    margin-bottom: 20px;
  }

  /* Remove extra bottom margin for last child on smaller screens */
  .side-section:nth-last-child(1) {
    margin-bottom: 0;
  }
}

/* Side Section Styles */
.side-section {
  flex: 1;
  padding: 100px; 
  box-sizing: border-box;
}

.side-section a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

/* Additional styles for clarity */
.left-section {
  background-image: url("../assets/home/Young-man-practicing-yoga-exercises-for-mental-and-body-health-1536x1024.webp");
}

.right-section {
  background-color: #f1c8c89f;
}

.side-by-side h2 {
  text-align: center;
}
