
.container {
    display: flex;
    height: 100vh;
    flex-direction: row; 
}
.image-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff00;
}
.image-section img {
    max-width: 100%;
}

.form-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.back-button {
    position: relative;
    top: 10px;
    left: 10px;
}

.back-button a {
    color: #333;
    text-decoration: none;
}

.form-container {
    max-width: fit-content;
    max-height: fit-content;
    padding: 20px;
    border-radius: 4px;
    width: 100%;
    height: 100%;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type='email'],
input[type='password'] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.register-btn {
    background-color: #4caf4fd2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.register-btn:hover {
    background-color: #45a049;
}

@media screen and (max-width: 767px) {
    .image-section {
        display: none;
    }

    .container {
        flex-direction: column;
    }
}
